{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - O nas {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--A FEW WORDS-->
<section class="section well-2">
    <div class="container text-center text-lg-start">
      <h3 class="text-primary">Kilka słów</h3>
      <h3 class="normal">O nas</h3>
      <div class="row row-60">
        <div class="col-lg-4 col-md-12 image-wrap-1">
            <iframe 
                width="380" 
                height="255" 
                src="https://www.youtube.com/embed/BrFETkf8wDw?autoplay=1" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-8 col-md-12">
          <p>
                DMD to złożona i wielowymiarowa grupa firm, która skupia się na łączeniu różnorodnych specjalizacji 
                i talentów w jedną spójną całość. Dzięki temu podejściu jesteśmy w stanie sprostać oczekiwaniom 
                nawet najbardziej wymagających klientów, niezależnie od branży czy sektora, w którym działają. 
                Nasza różnorodność pozwala nam na elastyczne dostosowanie oferty do indywidualnych potrzeb 
                i preferencji każdego klienta, co jest naszym głównym atutem. 
            </p>
            <p>
                Dzięki zespołowi wykwalifikowanych 
                specjalistów z różnych dziedzin jesteśmy w stanie realizować kompleksowe projekty, począwszy 
                od koncepcji, przez wykonanie, aż po finalne wdrożenie i opiekę posprzedażową.
          </p>
          <!-- <a class="button btn-md button-primary" href="#">Read More<span class="insider"></span></a> -->
        </div>
      </div>
      
    </div>
</section>
  
<!--BOOK WITH US-->
<section class="section bg-fixed bg-img-about-1">
<div class="container text-xs-center">
    <div class="row">
    <div class="col-xl-5 col-lg-6 inset-2">
        <div class="banner banner__mod bg-primary-variant-1">
        <div class="banner_cnt">
            <h2>Z nami osiągniesz więcej<br><span class="normal">jakość na wyciągnięcie ręki!</span></h2>
        </div>
        </div>
    </div>
    </div>
    <div class="row justify-content-lg-end offset-0">
    <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="static/images/page-2_about.jpg" alt=""/>
        <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
        <div class="banner_cnt">
            <h3>Realizacja Twoich oczekiwań</h3>
            <h3 class="normal">innowacja i satysfakcja</h3>
            <p>
                Sprostajmy Twoim Oczekiwaniom - Kompleksowa Oferta, Najwyższa Jakość. DMD łączy różnorodne 
                specjalizacje i talenty, by dostarczyć usługi i produkty bez kompromisów. Niezależnie 
                od wymagań, nasz szeroki wachlarz rozwiązań jest dostosowany do potrzeb każdego klienta - 
                małych grup czy dużych zespołów. Nasz priorytet to Twoja satysfakcja i komfort.
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
<div class="container">
    <h3 class="text-primary">Wielowymiarowy Świat Marki DMD</h3>
    <h3 class="normal">Odkryj Synergię Specjalizacji i Innowacji</h3>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
        <ul class="list">
        <li><a href="/"><img src="static/images/logo_elitehome.png" alt="" /></a></li>
        <li><a href="https://dmdbudownictwo.pl/" target="_blank"><img src="static/images/logo_budownictwo.png" alt="" /></a></li>
        
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
        <ul class="list">
        <li><a href="https://dmddomy.pl/" target="_blank"><img src="static/images/logo_domy.png" alt="" /></a></li>
        <li><a href="https://dmd-instalacje.pl/" target="_blank"><img src="static/images/logo_instalacje.png" alt="" /></a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
        <ul class="list">
        <li><a href="https://dmdinwestycje.pl/" target="_blank"><img src="static/images/logo_investment.png" alt="" /></a></li>
        <li><a href="#"><img src="static/images/logo_development.png" alt="" /></a></li>
        </ul>
    </div>
    </div>
</div>
</section>
{% endblock %}