<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <title>{% block title %}Kontakt z DMD EliteHome{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta_tags %}{% endblock %}
        <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900%7CMontserrat:400">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/fonts.css">
        <link rel="stylesheet" href="static/css/style.css">
        {% block cssand_links %}{% endblock %}
        {% block script_header %}{% endblock %}
    </head>
    <body>
        <!-- Page Preloader -->
        <div class="preloader">
            <div class="preloader-body">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
                <p>Loading...</p>
            </div>
        </div>
        <div class="page">
            <!--Header-->
            {% block body_header %}
            <header class="section page-header">
                <!--RD Navbar-->
                <div class="rd-navbar-wrap">
                    <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                        <div class="rd-navbar-main-outer">
                            <div class="rd-navbar-main">
                                <!--RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!--RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                                        <span></span>
                                    </button>
                                    <!--RD Navbar Brand-->
                                    <div class="rd-navbar-brand">
                                        <!--Brand-->
                                        <a class="brand" href="index.html">
                                            <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                            <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                                        </a>
                                    </div>
                                </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active">
                                            <a class="rd-nav-link" href="/">
                                                DMD
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/done-pl">
                                                Realizacje
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/team-pl">
                                                Zespół
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/about-pl">
                                                O Nas
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/blog-full-pl">
                                                Blog
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/contact-pl">
                                                Kontakt
                                            </a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a href="/en">EN</a> / <a href="/pl">PL</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            {% endblock %}
            {% block content %}
            
            {% endblock %}
            {% block footer %}
            <!-- Kod do wyświetlania flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="toast-body alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--FOOTER-->
            <footer class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="footer-info">
                                <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                                <p>
                                    <i class="fa fa-phone"></i>
                                    <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                                </p>
                                <p>
                                    <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                                </p>
                                <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                                <p>
                                    Pracujemy: <br />
                                    <span class="footer-newsletter">Poniedziałek - Piątek <br />
                                    9:00 - 17:00<br /></span>
                                </p>
                                <ul class="inline-list">
                                    <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmddomy/" target="_blank"></a></li>
                                    <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                                    <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmddomy/" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="footer-info">
                                <h3>Blog</h3>
                                <hr />
                                <ul class="list-unstyled">
                                    {% for post in blog_post_three %}
                                    <li class="rd-nav-item margin-top-standard">
                                        <h5 class="strong">
                                            <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                                        </h5>
                                        <div class="font-category">{{post['category']}}</div>
                                        <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="footer-info">
                                <h3>Nasz Newsletter</h3>
                                <hr />
                                <p class="footer-newsletter">
                                    Zapisz się do naszego newslettera, aby regularnie otrzymywać na swoją skrzynkę e-mail 
                                    najświeższe informacje, wyjątkowe oferty oraz ekskluzywne zaproszenia na wydarzenia 
                                    organizowane przez DMD, co pozwoli Ci aktywnie komentować nasze posty na blogu!
                                </p>
                                <form class="width-full">
                                    <div class="stick-all">
                                        <div>
                                            <input class="footer-newsletter-form" type="text" placeholder="Podaj swoje Imię" id="newsletterEmailField" name="Imie" required/>
                                        </div>
                                        <div>
                                            <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Podaj swój E-mail" id="newsletterEmailField" name="Email" required/>
                                        </div>
                                    </div>
                                    <div class="padding-top-standard">
                                        <button type="submit" class="btn btn-primary">
                                            Zapisz się
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="copyright padding-y-standard">
                        DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
                        <a class="link-white" href="/privacy-pl">Polityka prywatności</a>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>
        <div class="snackbars" id="form-output-global"></div>
	<script src="static/js/core.min.js"></script>
	<script src="static/js/script.js"></script>
    </body>
</html>