{% extends 'base.html' %}

{% block content %}
<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
            {% for post_data in posts %}
            <div class="col-lg-4 col-md-8 col-sm-12">
                <img src="{{post_data['mainFoto']}}" alt=""/>
                <span class="font-strong">
                    {{post_data['title']}}
                </span><br />
                <span class="font-category">{{post_data['category']}}</span>
                <span class="normal"><br />
                    {{post_data['highlight']}}
                    
                </span>
                <p class="font-strong-small">{{post_data['author']}} - {{post_data['data']}}</p>
                <a href="http://dmddomy.pl:3500/blog-one-pl?post={{post_data['id']}}">Czytaj więcej</a>
            </div>
            {% endfor %}
        </div>

      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-standard margin-top-big">
        <ul class="inline-list">
            <li class="pagination-item font-small">
                {{ pagination.prev }}
                <i class="fa fa-angle-left text-normal"></i>
            </li>
            <li class="pagination-item font-small">
                {{ pagination.links }}
            </li>
            <li class="pagination-item font-small">
                {{ pagination.next }}
                    <i class="fa fa-angle-right text-normal"></i>
            </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}