{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Blog {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link active" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
            {% for post_data in posts %}
            <div class="col-lg-4 col-md-8 col-sm-12">
                <a href="http://dmddomy.pl:3500/blog-one-pl?post={{post_data['id']}}">
                    <img src="{{post_data['mainFoto']}}" alt=""/>
                </a>
                <span class="font-strong">
                    <a href="http://dmddomy.pl:3500/blog-one-pl?post={{post_data['id']}}">
                        {{post_data['title']}}
                    </a>
                </span><br />
                <span class="font-category">{{post_data['category']}}</span>
                <span class="normal"><br />
                    {{post_data['highlight']}}
                    
                </span>
                <p class="font-strong-small">{{post_data['author']}} - {{post_data['data']}}</p>
                <a href="http://dmddomy.pl:3500/blog-one-pl?post={{post_data['id']}}">Czytaj więcej</a>
            </div>
            {% endfor %}
        </div>

        {% if pagination.total_pages > 1 %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-standard margin-top-big">
            <ul class="inline-list">
            {% if pagination.has_prev %}
                <li class="pagination-item font-small">
                    <a href="{{ url_for(request.endpoint, page=pagination.page - 1) }}">
                        <i class="fa fa-angle-left text-normal"></i>
                    </a>
                </li>
            {% else %}
                <li class="pagination-item-off font-small">
                    <i class="fa fa-angle-left text-normal"></i>
                </li>
            {% endif %}
            {% for page in pagination.pages %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="pagination-item font-small">
                            <a href="{{ url_for(request.endpoint, page=page) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% else %}
                        <li class="pagination-item-off font-small">
                            {{ page }}
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <li class="pagination-item font-small">
                    <a href="{{ url_for(request.endpoint, page=pagination.page + 1) }}">
                        <i class="fa fa-angle-right text-normal"></i>
                    </a>                
                </li>
            {% else %}
                <li class="pagination-item-off font-small">
                    <i class="fa fa-angle-right text-normal"></i>
                </li>
            {% endif %}
            </ul>
        </div>
        {% endif %}
   </div>
</section>
{% endblock %}