{% extends 'base.html' %}

{% block content %}
<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
            {% for post_data in posts %}
            <div class="col-lg-4 col-md-8 col-sm-12">
                <img src="{{post_data['mainFoto']}}" alt=""/>
                <span class="font-strong">
                    {{post_data['title']}}
                </span><br />
                <span class="font-category">{{post_data['category']}}</span>
                <span class="normal"><br />
                    {{post_data['highlight']}}
                    
                </span>
                <p class="font-strong-small">{{post_data['author']}} - {{post_data['data']}}</p>
                <a href="http://dmddomy.pl:3500/blog-one-pl?post={{post_data['id']}}">Czytaj więcej</a>
            </div>
            {% endfor %}
        </div>

        {% if pagination.total_pages > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
              <a class="page-link" href="{{ pagination.prev_page }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
            </li>
            {% endif %}
        
            {% for page in pagination.pages %}
              {% if page %}
                {% if page != pagination.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% endif %}
              {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
              {% endif %}
            {% endfor %}
        
            {% if pagination.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ pagination.next_page }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

    {% if pagination.total_pages > 1 %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-standard margin-top-big">
        <ul class="inline-list">
        {% if pagination.has_prev %}
            <li class="pagination-item font-small">
                <a href="{{ pagination.prev_page }}">
                    <i class="fa fa-angle-left text-normal"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}
        {% for page in pagination.pages %}
            {% if page %}
                {% if page != pagination.page %}
                    <li class="pagination-item font-small">
                        <a href="{{ url_for(request.endpoint, page=page) }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-item font-small">
                            {{ page }}
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
            <li class="pagination-item font-small">
                {{ pagination.next }}
                    <i class="fa fa-angle-right text-normal"></i>
            </li>
        {% else %}
            <li class="page-item disabled"></li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
    </div>
  </section>
{% endblock %}