{% extends 'base.html' %}

{% block content %}
<!--CONTACT INFORMATION-->
<section class="well-2 text-xs-center">
<div class="container">
    <h3><span class="text-primary">Informacje</span><br><span class="normal">Kontaktowe</span></h3>
    <div class="row row-40 offset-top-1">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <address class="contact-info">
        <p class="heading-6">05-082 Stare Babice<br>ul. Dworkowa 51</p>

        </address>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <address class="contact-info">
        <p class="heading-6">Telefon:<br><a href="tel:+48736545454">+48 736 54 54 54</a></p>

        </address>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <address class="contact-info">
        <p class="heading-6">E-mail:<br><a href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
        
        </address>
    </div>
    </div>
</div>
</section>
<!--CONTACT FORM-->
<section class="parallax-container parallax--mod well-2" data-parallax-img="static/images/contact_paralax_1.jpg">
<div class="parallax-content">
    <div class="container">
    <h3 class="text-default text-xs-center">Formularz<br><span class="normal">Kontaktowy</span></h3>
    <form class="rd-mailform mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
        <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-wrap">
            <label class="form-label" for="form-name">Imię i Nazwisko</label>
            <input class="form-input" id="form-name" type="text" name="name" data-constraints="@Required">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-wrap">
            <label class="form-label" for="form-phone">Temat Zapytania</label>
            <input class="form-input" id="form-phone" type="text" name="subject" data-constraints="@Required">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-wrap">
            <label class="form-label" for="form-email">E-mail</label>
            <input class="form-input" id="form-email" type="text" name="email" data-constraints="@Required @Email">
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-wrap">
            <label class="form-label" for="form-message">Napisz do Nas</label>
            <textarea class="form-input" id="form-message" name="message" data-constraints="@Required"></textarea>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <button class="button btn-md button-primary" type="submit">Wyślij Wiadomość<span class="insider"></span></button>
        </div>
        </div>
    </form>
    </div>
</div>
</section>
{% endblock %}