{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Projects {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}
{% block content %}
<!--HOTELS, CLUBS & COMMUNITY-->
<section class="section bg-fixed bg-img-dune-3">
    <div class="container">
      <div class="row g-0 justify-content-lg-between">
        <div class="col-lg-4 col-md-6 text-center text-lg-start">
          <div class="banner bg-contrast-variant-2">
            <div class="banner_cnt">
                <h2>Harmony with Nature<br><span class="normal">Dune Pearl of the Narew</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center text-lg-start">
          <div class="banner bg-default">
            <div class="banner_cnt">
                <h2><span class="text-primary">Concrete Elegance</span><br><span class="normal">Privacy Behind the Curtain</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 justify-content-lg-center offset-0">
        <div class="col-lg-4 col-md-12 text-center text-lg-start">
          <div class="banner bg-primary-variant-1">
            <div class="banner_cnt">
                <h2>The Face of the Forest<br><span class="normal">With Nature in the Background</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--TENDERED CONTRACTS ARE-->
<section class="section bg-fixed bg-fixed__mod bg-img-2 well-3">
    <div class="container text-default">
        <h3 class="text-default">Inspiring Projects - From Vision to Living</h3>
        <h3 class="normal text-default">Discover the Uniqueness of Our Realizations</h3>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
            <h3 class="font-strong">Wind House</h3>
            <p>
                A house breaking away from conventionality, where nature intertwines with modernity in 
                a nonlinear spatial arrangement.
            </p>
            <h3 class="font-strong margin-top-standard">Florida Villa</h3>
            <p>
                Luxury and spaciousness define the place where modern design meets functionality 
                in the heart of nature.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
            <h3 class="font-strong">Mirror House</h3>
            <p>
                An innovative facade that reflects the surroundings, creating an illusion of invisibility 
                and unity with nature.
            </p>
            <h3 class="font-strong margin-top-standard">Urban Villa</h3>
            <p>
                Elegance and urban chic combined with extraordinary attention to detail and the comfort 
                of the residents.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
            <h3 class="font-strong">House of Shingles and Gabions</h3>
            <p>
                A unique combination of traditional materials with a modern form, celebrating beauty and durability.
            </p>
            <h3 class="font-strong margin-top-standard">Lesznowola</h3>
            <p>
                A modern house open to the garden, where the lightness of boho style meets informal luxury.
            </p>
        </div>
      </div>
    </div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Our
                    </span><br>
                    <span class="normal">
                        Projects
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Curtain House</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Florida Villa</a></li>
                    <li><a href="/lustrzany-pl">Mirror House</a></li>
                    <li><a href="/miejska-pl">Urban Villa</a></li>
                    <li><a href="/gonty-pl">House of Shingles and Gabions</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowola</a></li>
                    <li><a href="/modny-pl">Fashion(ed) House</a></li>
                    <li><a href="/serce-pl">Forest Core</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-dune.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dune House
                                <span class="normal text-gray-800"> 2019 - 2021</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/dune-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-kurtyna.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Curtain House
                                <span class="normal text-gray-800"> 2015 - 2017</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/kurtyna-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-circle.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Circle Wood
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/circle-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}            
<!--FOOTER-->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-info">
                    <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                    <p>
                        <i class="fa fa-phone"></i>
                        <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                    </p>
                    <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                    <p>
                        We work: <br />
                        <span class="footer-newsletter">Monday - Friday <br />
                        9:00 AM - 5:00 PM<br /></span>
                    </p>
                    <ul class="inline-list">
                        <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmdelitehome/" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmdelitehome/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="footer-info">
                    <h3>Blog</h3>
                    <hr />
                    <ul class="list-unstyled">
                        {% for post in blog_post_three %}
                        <li class="rd-nav-item margin-top-standard">
                            <h5 class="strong">
                                <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                            </h5>
                            <div class="font-category">{{post['category']}}</div>
                            <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-info">
                    <h3>Our Newsletter</h3>
                    <hr />
                    <p class="footer-newsletter">
                        Sign up for our newsletter to regularly receive the latest information, special offers, 
                        and exclusive invitations to events organized by DMD directly to your email inbox, 
                        allowing you to actively comment on our blog posts!
                    </p>
                    <form class="width-full" id="newsletter_form">
                        <div class="stick-all">
                            <div>
                                <input class="footer-newsletter-form" type="text" placeholder="Enter Your Name" id="newsletterEmailField" name="Imie" required/>
                            </div>
                            <div>
                                <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Enter Your Email" id="newsletterEmailField" name="Email" required/>
                            </div>
                        </div>
                        <div class="padding-top-standard">
                            <button type="submit" class="btn btn-primary" id="send_newsletter">
                                Sign Up
                            </button>
                        </div>
                        <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright padding-y-standard">
            DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
            <a class="link-white" href="/privacy-pl">Privacy Policy</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/rulez-pl">Terms of Use of Our Website</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/faq-pl">FAQ’s</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/help-pl">help</a>
        </div>
    </div>
</footer>
{% endblock %}
