{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Realizacje {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}
{% block content %}
<!--HOTELS, CLUBS & COMMUNITY-->
<section class="section bg-fixed bg-img-dune-3">
    <div class="container">
      <div class="row g-0 justify-content-lg-between">
        <div class="col-lg-4 col-md-6 text-center text-lg-start">
          <div class="banner bg-contrast-variant-2">
            <div class="banner_cnt">
              <h2>Harmonia z Naturą<br><span class="normal">Dune Perła Narwi</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center text-lg-start">
          <div class="banner bg-default">
            <div class="banner_cnt">
              <h2><span class="text-primary">Betonowa Elegancja</span><br><span class="normal">Prywatność za Kurtyną</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 justify-content-lg-center offset-0">
        <div class="col-lg-4 col-md-12 text-center text-lg-start">
          <div class="banner bg-primary-variant-1">
            <div class="banner_cnt">
              <h2>Oblicze Lasu<br><span class="normal">Z Naturą w Tle</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--TENDERED CONTRACTS ARE-->
<section class="section bg-fixed bg-fixed__mod bg-img-2 well-3">
    <div class="container text-default">
      <h3 class="text-default">Inspirujące Realizacje - Od Wizji do Mieszkania</h3>
      <h3 class="normal text-default">Odkryj Unikalność Naszych Realizacji</h3>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
            <h3 class="font-strong">Wind House</h3>
            <p>
                Dom zrywający z konwencjonalnością, gdzie natura przeplata się z nowoczesnością 
                w nielinearnym układzie przestrzennym.
            </p>
            <h3 class="font-strong margin-top-standard">Willa Floryda</h3>
            <p>
                Luksus i przestronność definiujące miejsce, gdzie nowoczesny design spotyka funkcjonalność 
                w sercu przyrody.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
            <h3 class="font-strong">Dom Lustrzany</h3>
            <p>
                Innowacyjna fasada odbijająca otoczenie, tworząca iluzję niewidzialności i jedności z naturą.
            </p>
            <h3 class="font-strong margin-top-standard">Willa Miejska</h3>
            <p>
                Elegancja i miejski szyk w połączeniu z niezwykłą dbałością o detale i komfort mieszkańców.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
            <h3 class="font-strong">Dom Z Gontów i Gabionów</h3>
            <p>
                Unikatowe połączenie tradycyjnych materiałów z nowoczesną formą, celebrujące piękno i trwałość.
            </p>
            <h3 class="font-strong margin-top-standard">Lesznowolska</h3>
            <p>
                Nowoczesny dom otwarty na ogród, gdzie lekkość stylistyki boho spotyka się z nieformalnym luksusem.
            </p>
        </div>
      </div>
    </div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Nasze
                    </span><br>
                    <span class="normal">
                        Realizacje
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Dom Kurtyna</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Willa Floryda</a></li>
                    <li><a href="/lustrzany-pl">Dom Lustrzany</a></li>
                    <li><a href="/miejska-pl">Willa Miejska</a></li>
                    <li><a href="/gonty-pl">Dom Z Gontów i Gabionów</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowolska</a></li>
                    <li><a href="/serce-pl">Serce Lasu</a></li>
                    <li><a href="/modny-pl">Dom Mod(n)y</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-dune.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dune House
                                <span class="normal text-gray-800"> 2019 - 2021</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/dune-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-kurtyna.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dom Kurtyna
                                <span class="normal text-gray-800"> 2015 - 2017</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/kurtyna-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-circle.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Circle Wood
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/circle-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
