{% extends 'base.html' %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">FAQ - Najczęściej Zadawane Pytania</h3>
      <dl class="terms-list">
        <dt class="heading-6">Witajcie w naszym dziale FAQ!</dt>
        <dd>
            Poniżej znajdziecie odpowiedzi na najczęściej zadawane pytania 
            dotyczące naszej platformy. Jeśli masz dodatkowe pytania, skontaktuj się z nami.
        </dd>
        <dt class="heading-6">Jak mogę się zarejestrować na stronie?</dt>
        <dd>
            Aby się zarejestrować, wystarczy zapisać się do naszego Newslettera, użyj formularza w stopce.
            Podaj wymagane informacje i postępuj zgodnie z instrukcjami.
        </dd>
        <dt class="heading-6">Jak mogę zmienić swoje imię w subskrypcji?</dt>
        <dd>
            Aby zmienić swoje imię w subskrypcji napisz z zarejestrowanego u nas swojego adresu email 
            na <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            ze swoją prośbą a my wyślemy Ci informację zwrotną.
        </dd>
        <dt class="heading-6">Jak mogę zaktualizować swój adres w subskrypcji?</dt>
        <dd>
            Aby zaktualizować swój adres w subskrypcji, zarejestruj się jeszcze raz do naszego Newslettera, 
            użyj formularza w stopce.
        </dd>
        <dt class="heading-6">Czy istnieje możliwość anulowania mojej subskrypcji?</dt>
        <dd>
            Tak, możesz anulować swoją subskrypcję w każdej chwili. Napisz wiadomość z zarejestrowanego 
            u nas swojego adresu email na <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            ze swoją prośbą, a my wyślemy Ci informację zwrotną. Pamiętaj, że po anulowaniu subskrypcji 
            stracisz komentowania i konwersacji na platformie.
        </dd>
        <dt class="heading-6">Czy mogę korzystać z platformy na więcej niż jednym urządzeniu?</dt>
        <dd>
            Tak, nasza platforma umożliwia korzystanie na wielu urządzeniach.
        </dd>
        <dt class="heading-6">Jak mogę skontaktować się z zespołem wsparcia technicznego?</dt>
        <dd>
            Jeśli masz pytania lub napotykasz problemy, skorzystaj z formularza kontaktowego 
            dostępnego w sekcji Pomoc lub napisz bezpośrednio na adres e-mail 
            naszego działu wsparcia: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
      </dl>
      
    </div>
</section>
{% endblock %}