{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - FAQ - Frequently Asked Questions {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">FAQ - Frequently Asked Questions</h3>
      <dl class="terms-list">
        <dt class="heading-6">Welcome to our FAQ section!</dt>
        <dd>
            Below you will find answers to the most frequently asked questions 
            about our platform. If you have additional questions, please contact us.
        </dd>
        <dt class="heading-6">How can I register on the website?</dt>
        <dd>
            To register, simply sign up for our Newsletter using the form in the footer.
            Provide the required information and follow the instructions.
        </dd>
        <dt class="heading-6">How can I change my name in the subscription?</dt>
        <dd>
            To change your name in the subscription, write from your registered email address 
            to <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            with your request, and we will send you feedback.
        </dd>
        <dt class="heading-6">How can I update my address in the subscription?</dt>
        <dd>
            To update your address in the subscription, re-register for our Newsletter using the form in the footer.
        </dd>
        <dt class="heading-6">Is it possible to cancel my subscription?</dt>
        <dd>
            Yes, you can cancel your subscription at any time. Send a message from your registered 
            email address to <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            with your request, and we will send you feedback. Remember, after cancelling your subscription, 
            you will lose access to commenting and conversations on the platform.
        </dd>
        <dt class="heading-6">Can I use the platform on more than one device?</dt>
        <dd>
            Yes, our platform allows usage across multiple devices.
        </dd>
        <dt class="heading-6">How can I contact the technical support team?</dt>
        <dd>
            If you have questions or encounter problems, use the contact form 
            available in the Help section or write directly to the email address 
            of our support department: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
      </dl>
      
    </div>
</section>
{% endblock %}
