{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - FAQ - Najczęściej Zadawane Pytania{% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">FAQ - Najczęściej Zadawane Pytania</h3>
      <dl class="terms-list">
        <dt class="heading-6">Witajcie w naszym dziale FAQ!</dt>
        <dd>
            Poniżej znajdziecie odpowiedzi na najczęściej zadawane pytania 
            dotyczące naszej platformy. Jeśli masz dodatkowe pytania, skontaktuj się z nami.
        </dd>
        <dt class="heading-6">Jak mogę się zarejestrować na stronie?</dt>
        <dd>
            Aby się zarejestrować, wystarczy zapisać się do naszego Newslettera, użyj formularza w stopce.
            Podaj wymagane informacje i postępuj zgodnie z instrukcjami.
        </dd>
        <dt class="heading-6">Jak mogę zmienić swoje imię w subskrypcji?</dt>
        <dd>
            Aby zmienić swoje imię w subskrypcji napisz z zarejestrowanego u nas swojego adresu email 
            na <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            ze swoją prośbą a my wyślemy Ci informację zwrotną.
        </dd>
        <dt class="heading-6">Jak mogę zaktualizować swój adres w subskrypcji?</dt>
        <dd>
            Aby zaktualizować swój adres w subskrypcji, zarejestruj się jeszcze raz do naszego Newslettera, 
            użyj formularza w stopce.
        </dd>
        <dt class="heading-6">Czy istnieje możliwość anulowania mojej subskrypcji?</dt>
        <dd>
            Tak, możesz anulować swoją subskrypcję w każdej chwili. Napisz wiadomość z zarejestrowanego 
            u nas swojego adresu email na <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a> 
            ze swoją prośbą, a my wyślemy Ci informację zwrotną. Pamiętaj, że po anulowaniu subskrypcji 
            stracisz komentowania i konwersacji na platformie.
        </dd>
        <dt class="heading-6">Czy mogę korzystać z platformy na więcej niż jednym urządzeniu?</dt>
        <dd>
            Tak, nasza platforma umożliwia korzystanie na wielu urządzeniach.
        </dd>
        <dt class="heading-6">Jak mogę skontaktować się z zespołem wsparcia technicznego?</dt>
        <dd>
            Jeśli masz pytania lub napotykasz problemy, skorzystaj z formularza kontaktowego 
            dostępnego w sekcji Pomoc lub napisz bezpośrednio na adres e-mail 
            naszego działu wsparcia: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
      </dl>
      
    </div>
</section>
{% endblock %}