{% extends 'base.html' %}

{% block content %}
<!--A FEW WORDS-->
<section class="section well-2">
    <div class="container text-center text-lg-start">
        <h3 class="text-primary">Dom Z Gontów i Gabionów</h3>
        <h3 class="normal">	2014 - 2017</h3>
    </div>
</section>

<!--BOOK WITH US-->
<section class="section bg-fixed bg-img-gonty-1">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>Symbioza z Naturą<br><span class="normal">Architektura Współgrająca z Krajobrazem</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="static/images/page-2_img02-gonty.jpg" alt=""/>
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
                    <div class="banner_cnt">
                        <h3>Harmonia Kamienia i Drewna</h3>
                        <h3 class="normal">Unikalna Architektura Domu</h3>
                        <p>
                            Dom z Gontów i Gabionów, zaprojektowany przez renomowane Biuro Architektoniczne Barycz i Saramowicz, 
                            jest wyrazem poszukiwania harmonii między nowoczesną architekturą a naturalnym otoczeniem. 
                            Położony w Izabellinie Północnym, na obrzeżach Kampinoskiego Parku Narodowego, ten 
                            innowacyjny projekt łączy tradycyjne materiały budowlane z nowoczesnymi technologiami. 
                            Wykorzystanie naturalnego gontu i gabionów wypełnionych dolomitem nie tylko podkreśla 
                            ekologiczny charakter domu, ale również tworzy niepowtarzalną teksturę i kształt, idealnie 
                            wpisując budynek w malowniczy krajobraz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
<div class="container">
  <h3 class="text-primary">Ciekawostki</h3>
  <h3 class="normal">Poznaj Tajemnice Domu z Gontów i Gabionów</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
        <h3 class="small">Tradycja i Nowoczesność</h3>
        <div>
            Wykorzystanie gontu dębowego nawiązuje do polskiej tradycji budowlanej, a zastosowanie 
            gabionów wypełnionych kamieniem wprowadza element nowoczesnej architektury, łącząc 
            w sobie trwałość z estetyką.
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
        <h3 class="small">Zintegrowanie z Przyrodą</h3>
        <div>
            Masywna struktura z gabionów działa jak tarcza, chroniąca prywatność mieszkańców, 
            jednocześnie otwierając budynek na otaczającą go naturę i podkreślając jego 
            organiczny charakter.
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
        <h3 class="small">Unikalna Faktura Elewacji</h3>
        <div>
            Kombinacja gontu dębowego i koszy gabionowych stworzyła unikalną fakturę elewacji, 
            która jest nie tylko piękna wizualnie, ale również funkcjonalna, zapewniając izolację 
            termiczną i akustyczną.
        </div>
    </div>
  </div>
</div>
</section>
<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-gonty-2">
<div class="container text-xs-center">
  <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
    <div class="col-xl-5 col-lg-6 inset-4">
      <div class="banner banner__mod banner__mod-3 bg-default">
        <div class="banner_cnt">
          <h2><span class="text-primary">Perła Izabelina</span><br><span class="normal">Dom z Gontów i Gabionów</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
    <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-2_img03-gonty.jpg" alt=""/>
      <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
        <div class="banner_cnt">
          <h3>Dom z Gontów i Gabionów w EliteHome</h3>
          <h3 class="normal">Przestrzeń Zgodna z Naturą</h3>
          <p>
                Realizacja Domu z Gontów i Gabionów przez Biuro Architektoniczne Barycz i Saramowicz 
                stanowi wzór nowoczesnej architektury, która szanuje i wykorzystuje tradycyjne 
                materiały budowlane. Położony w zacisznej enklawie Izabelina Północnego, dom jest 
                doskonałym przykładem, jak nowoczesne rozwiązania mogą harmonijnie współgrać 
                z otaczającym krajobrazem. Dzięki śmiałej wizji architektów i zastosowaniu 
                innowacyjnych materiałów, Dom z Gontów i Gabionów oferuje nie tylko unikalny 
                design, ale również wysoki komfort życia i bliskość z naturą.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Inne Nasze
                    </span><br>
                    <span class="normal">
                        Realizacje
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Dom Kurtyna</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Willa Floryda</a></li>
                    <li><a href="/lustrzany-pl">Dom Lustrzany</a></li>
                    <li><a href="/miejska-pl">Willa Miejska</a></li>
                    <!-- <li><a href="/gonty-pl">Dom Z Gontów i Gabionów</a></li> -->
                    <li><a href="/lesznowolska-pl">Lesznowolska</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">

                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-lustrzany.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dom Lustrzany
                                <span class="normal text-gray-800"> 2017 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/lustrzany-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-miejska.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Willa Miesja
                                <span class="normal text-gray-800"> 2020 - 2021</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/miejska-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-lesznowolska.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Lesznowolska
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/lesznowolska-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}