{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Pomoc{% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Witaj w Dziale Pomocy!</h3>
      <dl class="terms-list">
        <dt class="heading-6">Informacje ogólne</dt>
        <dd>
            Nasz zespół jest tutaj, aby uprościć Twoje doświadczenie na naszej platformie. 
            Poniżej znajdziesz kilka sekcji, które mogą Ci pomóc z zapytaniami, informacjami 
            o polityce prywatności, zasadami korzystania oraz innymi kwestiami. Jeśli nadal potrzebujesz 
            pomocy, skorzystaj z formularza kontaktowego lub skontaktuj się bezpośrednio z naszym zespołem. 
            Jesteśmy gotowi, aby Ci pomóc!
        </dd>
        <dt class="heading-6">Polityka Prywatności</dt>
        <dd>
            Zapoznaj się z naszą polityką prywatności, aby dowiedzieć się, jak dbamy o bezpieczeństwo 
            Twoich danych osobowych. Twoja prywatność jest dla nas priorytetem.
        </dd>
        <dt class="heading-6">Zasady Korzystania z Witryny</dt>
        <dd>
            Przeczytaj nasze zasady korzystania z witryny, aby zrozumieć reguły i warunki korzystania 
            z naszych usług. Zalecamy przestrzeganie tych zasad dla zwiększenia wydajności i bezpieczeństwa 
            korzystania z platformy.
        </dd>
        <dt class="heading-6">FAQ's</dt>
        <dd>
            W dziale FAQ's znajdziesz odpowiedzi na najczęściej zadawane pytania. Sprawdź, czy znajdziesz 
            tu rozwiązanie swoich wątpliwości przed skontaktowaniem się z nami.
        </dd>
        <dt class="heading-6">Kontakt</dt>
        <dd>
            Potrzebujesz dodatkowej pomocy? Skorzystaj z formularza kontaktowego lub napisz bezpośrednio na 
            adres e-mail naszego działu wsparcia: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
        <dt class="heading-6">Zespół</dt>
        <dd>
            Poznaj nasz zespół! Tutaj znajdziesz informacje o osobach, które pracują na rzecz 
            doskonalenia naszej platformy i zapewnienia Ci najlepszej obsługi.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}