{% extends 'base.html' %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Welcome to the Help Section!</h3>
      <dl class="terms-list">
        <dt class="heading-6">General Information</dt>
        <dd>
            Our team is here to simplify your experience on our platform. 
            Below, you will find several sections that may assist you with queries, information 
            about privacy policy, terms of use, and other issues. If you still need 
            help, use the contact form or get in touch directly with our team. 
            We are ready to help you!
        </dd>
        <dt class="heading-6">Privacy Policy</dt>
        <dd>
            Please familiarize yourself with our privacy policy to learn how we care about the security 
            of your personal data. Your privacy is our priority.
        </dd>
        <dt class="heading-6">Terms of Use of the Website</dt>
        <dd>
            Read our site usage policy to understand the rules and conditions of using 
            our services. We recommend adhering to these rules to enhance efficiency and safety 
            of using the platform.
        </dd>
        <dt class="heading-6">FAQ's</dt>
        <dd>
            In the FAQ section, you'll find answers to frequently asked questions. Check if you can find 
            a solution to your doubts before contacting us.
        </dd>
        <dt class="heading-6">Contact</dt>
        <dd>
            Need additional help? Use the contact form or write directly to 
            the email address of our support department: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
        <dt class="heading-6">Team</dt>
        <dd>
            Meet our team! Here, you will find information about the people who work 
            to improve our platform and provide you with the best service.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}
