{% extends 'base.html' %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Witaj w Dziale Pomocy!</h3>
      <dl class="terms-list">
        <dt class="heading-6">Informacje ogólne</dt>
        <dd>
            Nasz zespół jest tutaj, aby uprościć Twoje doświadczenie na naszej platformie. 
            Poniżej znajdziesz kilka sekcji, które mogą Ci pomóc z zapytaniami, informacjami 
            o polityce prywatności, zasadami korzystania oraz innymi kwestiami. Jeśli nadal potrzebujesz 
            pomocy, skorzystaj z formularza kontaktowego lub skontaktuj się bezpośrednio z naszym zespołem. 
            Jesteśmy gotowi, aby Ci pomóc!
        </dd>
        <dt class="heading-6">Polityka Prywatności</dt>
        <dd>
            Zapoznaj się z naszą polityką prywatności, aby dowiedzieć się, jak dbamy o bezpieczeństwo 
            Twoich danych osobowych. Twoja prywatność jest dla nas priorytetem.
        </dd>
        <dt class="heading-6">Zasady Korzystania z Witryny</dt>
        <dd>
            Przeczytaj nasze zasady korzystania z witryny, aby zrozumieć reguły i warunki korzystania 
            z naszych usług. Zalecamy przestrzeganie tych zasad dla zwiększenia wydajności i bezpieczeństwa 
            korzystania z platformy.
        </dd>
        <dt class="heading-6">FAQ's</dt>
        <dd>
            W dziale FAQ's znajdziesz odpowiedzi na najczęściej zadawane pytania. Sprawdź, czy znajdziesz 
            tu rozwiązanie swoich wątpliwości przed skontaktowaniem się z nami.
        </dd>
        <dt class="heading-6">Kontakt</dt>
        <dd>
            Potrzebujesz dodatkowej pomocy? Skorzystaj z formularza kontaktowego lub napisz bezpośrednio na 
            adres e-mail naszego działu wsparcia: <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
        <dt class="heading-6">Zespół</dt>
        <dd>
            Poznaj nasz zespół! Tutaj znajdziesz informacje o osobach, które pracują na rzecz 
            doskonalenia naszej platformy i zapewnienia Ci najlepszej obsługi.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}