{% extends 'base.html' %}

{% block title %}DMD EliteHome - Home Page{% endblock %}


{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--RELIABLE AND PROFESSIONAL-->
<section class="bg-fixed bg-img-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 inset-2 text-xs-center">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>
                            Dune Villa<span class="normal d-inline-block">Creates a harmonious space.</span>
                        </h2>
                    </div>
                </div>
                <div class="image-wrap-2">
                    <img src="static/images/page-1_img01.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OFFERING GREAT EXPERTISE-->
<section class="section">
    <div class="container wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
        <div class="box-lg bg-contrast-variant-1">
            <div class="box-lg_left">
                <img src="static/images/page-1_img02.jpg" alt=""/>
            </div>
            <div class="box-lg_body inset-3 text-center text-md-start">
                <h3 class="text-default">Dune House</h3>
                <h3 class="text-primary normal">Luxury Villa by the Narew River</h3>
                <p>
                    Curved like a seaside dune, the Dune House is an impressive project by Mobius 
                    Architects, which integrated with the picturesque hill by the Narew River.
                </p>
            </div>
        </div>
    </div>
</section>
<!--COACH HIRE-->
<section class="section well bg-default">
    <div class="container">
        <ol class="row row-60 index-list">
            <li class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                <h3 class="index-list__counter">
                    <span class="text-primary d-inline-block">
                        Dune House
                        <span class="normal text-gray-800"><br />2019 - 2021</span>
                    </span>
                </h3>
                <p>
                    Spanning 1500 m2, a minimalist structure of white plaster and stone extends, 
                    hiding within its interior bedrooms, a living room with a kitchen, a recreational 
                    area, and even two swimming pools and helipads.
                </p>
            </li>
            <li class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                <h3 class="index-list__counter">
                    <span class="text-primary d-inline-block">
                        Curtain House
                        <span class="normal text-gray-800"><br />2015 - 2017</span>
                    </span>
                </h3>
                <p>
                    A simple shape with a distinctive "curtain" of concrete facade conceals spacious 
                    interiors filled with natural light. Large glass windows facing the garden blur 
                    the boundaries between the interior and the exterior, creating an intimate space 
                    for relaxation.
                </p>
            </li>
            <li class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
                <h3 class="index-list__counter">
                    <span class="text-primary d-inline-block">
                        Circle Wood
                        <span class="normal text-gray-800"><br />2018 - 2020</span>
                    </span>
                </h3>
                <p>
                    Inspired by a cut tree trunk, Circle Wood House offers its residents a sense 
                    of privacy and intimate contact with nature.
                </p>
            </li>
        </ol>
    </div>
</section>
<!--SPEND AN UNFORGETTABLE-->
<section class="section bg-fixed bg-img-2">
    <div class="container text-xs-center">
        <div class="row wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>
                            Curtain House<br />
                            <span class="normal">A house of concrete and glass.</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0 wow fadeInRight" data-wow-delay=".6s" data-wow-duration="1s">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3">
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__before">
                    <div class="banner_cnt">
                        <h3>Oasis of Light and Art</h3>
                        <h3 class="normal">The perfect place for lovers of modern architecture!</h3>
                        <p>
                            The heart of the house is an impressive living room with a height of 370 cm, serving as an art gallery. 
                            Connected to it, a swimming pool and fluid transitions between zones provide comfort and promote 
                            spending time together.
                        </p>
                        <p>
                            A house of concrete and glass is the ideal place for lovers of modern architecture, 
                            who wish to live surrounded by art and nature.
                        </p>
                    </div>
                </div>
                
                <div><img src="static/images/page-1_img03.jpg" alt=""/></div>
            </div>
        </div>
    </div>
</section>
<!--WE MANAGE ALL THE ASPECTS OF-->
<section class="section bg-fixed bg-img-3">
    <div class="container">
        <div class="row wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
            <div class="col-xl-5 col-lg-6 inset-2 text-xs-center image-wrap-4"><img class="img-left" src="static/images/page-1_img05.jpg" alt=""/>
                <div class="banner banner__mod bg-default">
                    <div class="banner_cnt">
                        <h2>
                            <span class="text-primary">
                                Circle Wood
                            </span><br />
                            <span class="normal">
                                Immerse yourself in the soothing silence of the forest.
                            </span>
                        </h2>
                    </div>
                </div>
                <div>
                    <img class="full" src="static/images/page-1_img04.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Our
                    </span><br>
                    <span class="normal">
                        Projects
                    </span>
                </h3>
                
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Curtain House</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Villa Florida</a></li>
                    <li><a href="/lustrzany-pl">Mirror House</a></li>
                    <li><a href="/miejska-pl">Urban Villa</a></li>
                    <li><a href="/gonty-pl">Shingle and Gabion House</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowolska</a></li>
                </ul>

            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img06.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Wind House
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/wind-pl">Check it out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img07.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Villa Florida
                                <span class="normal text-gray-800"> 2021 - 2022</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/floryda-pl">Check it out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img08.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Urban Villa
                                <span class="normal text-gray-800"> 2020 - 2021</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/miejska-pl">Check it out<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team foto -->
<section class="section padding-y-standard bg-fixed bg-img-team-1">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            {% for member in fourListTeam %}
            
            <div class="col-xl-3 col-lg-4 col-md-12 inset-4 wow fadeInLeft">
                <div class="team-box-all text-center">
                    <div>
                        <img src="{{ member['EMPLOYEE_PHOTO'] }}" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="mt-3">
                        <h6 class="mb-0 font-strong">
                            {{ member['EMPLOYEE_NAME'] }}
                        </h6>
                        <p class="text-muted team-work field-position-p">
                            {{ member['EMPLOYEE_ROLE'] }}
                        </p>
                    </div>
                    <div class="team_social field-position-p padding-y-small">
                        <ul class="list-inline mb-0 text-center">
                            {% if member['PHONE'] != '' %}
                            <li class="list-inline-item">
                                <a href="tel:{{ member['PHONE'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['EMAIL'] != '' %}
                            <li class="list-inline-item">
                                <a href="mailto:{{ member['EMAIL'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['FACEBOOK'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['FACEBOOK'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['LINKEDIN'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['LINKEDIN'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}            
<!--FOOTER-->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-info">
                    <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                    <p>
                        <i class="fa fa-phone"></i>
                        <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                    </p>
                    <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                    <p>
                        We work: <br />
                        <span class="footer-newsletter">Monday - Friday <br />
                        9:00 AM - 5:00 PM<br /></span>
                    </p>
                    <ul class="inline-list">
                        <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmddomy/" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmddomy/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="footer-info">
                    <h3>Blog</h3>
                    <hr />
                    <ul class="list-unstyled">
                        {% for post in blog_post_three %}
                        <li class="rd-nav-item margin-top-standard">
                            <h5 class="strong">
                                <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                            </h5>
                            <div class="font-category">{{post['category']}}</div>
                            <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-info">
                    <h3>Our Newsletter</h3>
                    <hr />
                    <p class="footer-newsletter">
                        Sign up for our newsletter to regularly receive the latest information, special offers, 
                        and exclusive invitations to events organized by DMD directly to your email inbox, 
                        allowing you to actively comment on our blog posts!
                    </p>
                    <form class="width-full" id="newsletter_form">
                        <div class="stick-all">
                            <div>
                                <input class="footer-newsletter-form" type="text" placeholder="Enter Your Name" id="newsletterEmailField" name="Imie" required/>
                            </div>
                            <div>
                                <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Enter Your Email" id="newsletterEmailField" name="Email" required/>
                            </div>
                        </div>
                        <div class="padding-top-standard">
                            <button type="submit" class="btn btn-primary" id="send_newsletter">
                                Sign Up
                            </button>
                        </div>
                        <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright padding-y-standard">
            DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
            <a class="link-white" href="/privacy-pl">Privacy Policy</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/rulez-pl">Terms of Use of Our Website</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/faq-pl">FAQ’s</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/help-pl">Help</a>
        </div>
    </div>
</footer>
{% endblock %}
