<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Kontakt z DMD EliteHome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900%7CMontserrat:400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!--Header-->
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic header-border" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-273x37.png" alt="" width="136" height="18"/><img class="brand-logo-light" src="images/logo-inverse-271x37.png" alt="" width="135" height="18"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">News</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Events</a>
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Archive</a>
                              </li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Testimonials</a>
                              </li>
                            </ul>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">History</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="our-coaches.html">Our Coaches</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--CONTACT INFORMATION-->
      <section class="well-2 text-xs-center">
        <div class="container">
          <h3><span class="text-primary">Informacje</span><br><span class="normal">Kontaktowe</span></h3>
          <div class="row row-40 offset-top-1">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <address class="contact-info">
                <p class="heading-6">05-082 Stare Babice<br>ul. Dworkowa 51</p>

              </address>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <address class="contact-info">
                <p class="heading-6">Telefon:<br><a href="tel:+48736545454">+48 736 54 54 54</a></p>

              </address>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <address class="contact-info">
                <p class="heading-6">E-mail:<br><a href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
                
              </address>
            </div>
          </div>
        </div>
      </section>
      <!--CONTACT FORM-->
      <section class="parallax-container parallax--mod well-2" data-parallax-img="images/contact_paralax_1.jpg">
        <div class="parallax-content">
          <div class="container">
            <h3 class="text-default text-xs-center">Formularz<br><span class="normal">Kontaktowy</span></h3>
            <form class="rd-mailform mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="form-wrap">
                    <label class="form-label" for="form-name">Imię i Nazwisko</label>
                    <input class="form-input" id="form-name" type="text" name="name" data-constraints="@Required">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="form-wrap">
                    <label class="form-label" for="form-phone">Temat Zapytania</label>
                    <input class="form-input" id="form-phone" type="text" name="subject" data-constraints="@Required">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="form-wrap">
                    <label class="form-label" for="form-email">E-mail</label>
                    <input class="form-input" id="form-email" type="text" name="email" data-constraints="@Required @Email">
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-wrap">
                    <label class="form-label" for="form-message">Napisz do Nas</label>
                    <textarea class="form-input" id="form-message" name="message" data-constraints="@Required"></textarea>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <button class="button btn-md button-primary" type="submit">Wyślij Wiadomość<span class="insider"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!--FOOTER-->
      <footer class="section footer-classic-map">
        <div class="container container-fluid-custom">
          <div class="row text-center text-xl-start">
            <div class="col-xl-4">
              <div class="footer-info">
                <p><a class="link-white" href="tel:#">80023456789</a></p>
                <address>Glasgow D04 89GR</address>
                <ul class="inline-list">
                  <li><a class="link-white icon fa fa-facebook" href="#"></a></li>
                  <li><a class="link-white icon fa fa-twitter" href="#"></a></li>
                  <li><a class="link-white icon fa fa-google-plus" href="#"></a></li>
                </ul>
                <div class="copyright">Bus and Coach Hire ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><a class="link-white" href="privacy-policy.html">Privacy Policy</a></div>
              </div>
            </div>
            <div class="col-xl-8 map-wrapper inset-1 position-relative">
              <div class="map">
                <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-styles="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#ff1a00&quot;},{&quot;invert_lightness&quot;:true},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:33},{&quot;gamma&quot;:0.5}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#2D333C&quot;}]}]">
                  <div class="google-map"></div>
                  <ul class="google-map-markers">
                    <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>