{% extends 'base.html' %}

{% block content %}
<!--A FEW WORDS-->
<section class="section well-2">
    <div class="container text-center text-lg-start">
        <h3 class="text-primary">Willa Miejska</h3>
        <h3 class="normal">2020 - 2021</h3>
    </div>
</section>

<!--BOOK WITH US-->
<section class="section bg-fixed bg-img-miejska-1">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>Bielany Oczarowane<br><span class="normal">Elegancja w Sercu Miasta</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="static/images/page-2_img02-miejska.jpg" alt=""/>
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
                    <div class="banner_cnt">
                        <h3>Odkryj Bielańską Perłę</h3>
                        <h3 class="normal">Architektoniczna Harmonia</h3>
                        <p>
                            Miejska Willa na Starych Bielanach, zaprojektowana przez MAG Architekci pod kierunkiem 
                            Marcina Grzyb, stanowi wzór doskonałej integracji nowoczesnej architektury z historycznym 
                            charakterem dzielnicy. Rozciągająca się na 450 m² rezydencja łączy w sobie elegancję 
                            i funkcjonalność, czyniąc ją obiektem podziwu i inspiracji dla mieszkańców. Z jednej 
                            strony okazała fasada od ulicy, z drugiej - malowniczy ogród od podwórza, tworzą 
                            przestrzeń pełną spokoju i piękna w samym sercu Warszawy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
<div class="container">
  <h3 class="text-primary">Ciekawostki</h3>
  <h3 class="normal">Poznaj Tajemnice Naszej Willi</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
        <h3 class="small">Projekt w Symbiozie z Otoczeniem</h3>
        <div>
            Willa została zaprojektowana tak, by harmonijnie wpisywać się w klimat 
            Starych Bielan, łącząc tradycję z nowoczesnością.
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
        <h3 class="small">Oaza Spokoju w Mieście</h3>
        <div>
            Malowniczy ogród stanowi naturalne przedłużenie przestrzeni życiowej willi, oferując 
            mieszkańcom prywatny zakątek relaksu wśród zieleni.
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
        <h3 class="small">Okazała Fasada</h3>
        <div>
            Reprezentacyjna fasada od strony ulicy podkreśla prestiżową lokalizację i architektoniczną 
            unikalność budynku, stanowiąc wizytówkę willi.
        </div>
    </div>
  </div>
</div>
</section>
<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-miejska-2">
<div class="container text-xs-center">
  <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
    <div class="col-xl-5 col-lg-6 inset-4">
      <div class="banner banner__mod banner__mod-3 bg-default">
        <div class="banner_cnt">
          <h2><span class="text-primary">Miejska Willa Architektura z Duszą</span><br><span class="normal">Piękno Ukryte na Warszawskich Bielanach</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
    <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-2_img03-miejska.jpg" alt=""/>
      <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
        <div class="banner_cnt">
          <h3>Miejska Willa Bielańska Duma</h3>
          <h3 class="normal">Nowoczesność w Harmonii z Miastem</h3>
          <p>
                Miejska Willa na Starych Bielanach, dzieło Marcina Grzyb z MAG Architekci, jest kwintesencją 
                połączenia nowoczesnego designu z tradycyjnym duchem warszawskich Bielan. Ten wyjątkowy projekt 
                nie tylko wzbogaca architektoniczny krajobraz dzielnicy, ale także stanowi przestrzeń, 
                w której luksus spotyka się z codzienną funkcjonalnością. Oferując mieszkańcom 450 m² 
                przemyślanie zaprojektowanej przestrzeni, wraz z urokliwym ogrodem, Miejska Willa jest 
                wyrazem poszukiwania piękna i spokoju w dynamicznym środowisku miejskim.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Inne Nasze
                    </span><br>
                    <span class="normal">
                        Realizacje
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Dom Kurtyna</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Willa Floryda</a></li>
                    <li><a href="/lustrzany-pl">Dom Lustrzany</a></li>
                    <!-- <li><a href="/miejska-pl">Willa Miejska</a></li> -->
                    <li><a href="/gonty-pl">Dom Z Gontów i Gabionów</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowolska</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">

                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-floryda.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Willa Floryda
                                <span class="normal text-gray-800"> 2021 - 2022</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/floryda-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-gonty.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dom Z Gontów i Gabionów
                                <span class="normal text-gray-800"> 2014 - 2017</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/gonty-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-lesznowolska.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Lesznowolska
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/lesznowolska-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}