{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Polityka Prywatności{% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Polityka Prywatności</h3>
      <dl class="terms-list">
        <dt class="heading-6">Informacja wstępna</dt>
        <dd>
          Dbamy o Twoją prywatność i pragniemy, abyś był informowany o tym, w jaki sposób gromadzimy, 
          używamy i chronimy Twoje dane osobowe. Przeczytaj poniższe informacje dotyczące naszej 
          Polityki Prywatności:
        </dd>
        <dt class="heading-6">Gromadzenie i Przetwarzanie Danych Osobowych</dt>
        <dd>
          Dokładamy wszelkich starań, aby chronić Twoje dane osobowe. Gromadzimy jedynie niezbędne 
          informacje, takie jak imię i adres e-mail, w celu dostarczania Ci istotnych aktualizacji 
          i informacji dotyczących naszej społeczności.
        </dd>
        <dt class="heading-6">Cel Przetwarzania Danych</dt>
        <dd>
          Twoje dane osobowe są przetwarzane w celu dostarczania informacji, ofert, oraz personalizacji 
          doświadczenia związanego z naszą społecznością.
        </dd>
        <dt class="heading-6">Bezpieczeństwo Danych</dt>
        <dd>
          Zapewniamy, że Twoje dane są u nas bezpieczne. Stosujemy odpowiednie środki techniczne 
          i organizacyjne, aby chronić je przed nieautoryzowanym dostępem czy utratą.
        </dd>
        <dt class="heading-6">Udostępnianie Danych</dt>
        <dd>
          Nie udostępniamy Twoich danych osobowych stronom trzecim bez Twojej wyraźnej zgody. Dbamy 
          o prywatność naszych użytkowników.
        </dd>
        <dt class="heading-6">Prawa Użytkowników</dt>
        <dd>
          Masz prawo do dostępu, poprawiania, usuwania lub ograniczania przetwarzania swoich danych 
          osobowych. Skontaktuj się z nami, jeśli chcesz skorzystać z tych praw.
        </dd>
        <dt class="heading-6">Przekazywanie Danych do Innych Krajów</dt>
        <dd>
          W niektórych przypadkach, Twoje dane osobowe mogą być przekazywane do innych krajów zgodnie 
          z obowiązującymi przepisami prawa.
        </dd>
        <dt class="heading-6">Cookies i Technologie Śledzące</dt>
        <dd>
          Używamy plików cookie i innych technologii śledzących w celu analizy ruchu na stronie, 
          personalizacji treści oraz dostarczania reklam. Możesz zarządzać ustawieniami plików cookie 
          w swojej przeglądarce.
        </dd>
        <dt class="heading-6">Bezpieczeństwo Transmisji Danych</dt>
        <dd>
          Podjęliśmy środki bezpieczeństwa w celu ochrony transmisji danych, jednakże nie możemy 
          zagwarantować bezpieczeństwa absolutnego podczas przesyłania danych przez internet.
        </dd>
        <dt class="heading-6">Kontakt z Nami</dt>
        <dd>
          Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami pod 
          adresem <a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a>.
        </dd>
        <dt class="heading-6">Zgoda na Przetwarzanie Danych</dt>
        <dd>
          Korzystając z naszej społeczności, wyrażasz zgodę na przetwarzanie swoich danych osobowych 
          zgodnie z niniejszą Polityką Prywatności.
        </dd>
        <dt class="heading-6">Poinformowanie o Zmianach</dt>
        <dd>
          Informacje o zmianach w Polityce Prywatności będą udostępniane na naszej stronie internetowej.
        </dd>
        <dt class="heading-6">Zastosowanie Dla Dzieci</dt>
        <dd>
          Nasza społeczność nie jest przeznaczona dla dzieci poniżej 13 roku życia. Nie gromadzimy 
          świadomie danych od osób poniżej tego wieku.
        </dd>
        <dt class="heading-6">Marketing Bezpośredni</dt>
        <dd>
          Możemy przesyłać Ci informacje marketingowe jedynie po uzyskaniu Twojej wyraźnej zgody. 
          Możesz zrezygnować z subskrypcji w dowolnym momencie.
        </dd>
        <dt class="heading-6">Zmiana lub Usunięcie Danych</dt>
        <dd>
          Masz prawo żądania zmiany lub usunięcia swoich danych osobowych. Skontaktuj się 
          z nami w celu realizacji tych żądań.
        </dd>
        <dt class="heading-6">Ważne Informacje Prawne</dt>
        <dd>
          Niniejsza Polityka Prywatności jest częścią naszych Warunków Korzystania. 
          Zapoznaj się również z nimi.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}