{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - {{pro_data.tytul}} {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--A FEW WORDS-->
 <section class="section well-2">
    <div class="container text-center text-lg-start">
        <h3 class="text-primary">{{pro_data.tytul}}</h3>
        <h3 class="normal">{{pro_data.r_start}} - {{pro_data.r_finish}}</h3>
    </div>
</section>

<!--BOOK WITH US-->
<section class="section bg-fixed" style="background-image: url('{{pro_data.paralax_1}}')">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>{{pro_data.slogan_1}}<br><span class="normal">{{pro_data.slogan_2}}</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="{{pro_data.inside_1}}" alt=""/>
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
                    <div class="banner_cnt">
                        <h3>{{pro_data.tytul_1}}</h3>
                        <h3 class="normal">{{pro_data.podtytul_1}}</h3>
                        <p>
                            {{pro_data.opis_1}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
<div class="container">
  <h3 class="text-primary">{{pro_data.tytul_zagadek}}</h3>
  <h3 class="normal">{{pro_data.podtytul_zagadek}}</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
        <h3 class="small">{{pro_data.zagadka_1_tytul}}</h3>
        <div>
            {{pro_data.zagadka_1_opis}}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
        <h3 class="small">{{pro_data.zagadka_2_tytul}}</h3>
        <div>
            {{pro_data.zagadka_2_opis}}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
        <h3 class="small">{{pro_data.zagadka_3_tytul}}</h3>
        <div>
            {{pro_data.zagadka_3_opis}}
        </div>
    </div>
  </div>
</div>
</section>
<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed" style="background-image: url('{{pro_data.paralax_2}}')">
<div class="container text-xs-center">
  <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
    <div class="col-xl-5 col-lg-6 inset-4">
      <div class="banner banner__mod banner__mod-3 bg-default">
        <div class="banner_cnt">
          <h2><span class="text-primary">{{pro_data.slogan_3}}</span><br><span class="normal">{{pro_data.slogan_4}}</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
    <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="{{pro_data.inside_2}}" alt=""/>
      <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
        <div class="banner_cnt">
          <h3>{{pro_data.tytul_2}}</h3>
          <h3 class="normal">{{pro_data.podtytul_2}}</h3>
          <p>
               {{pro_data.opis_2}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Inne Nasze
                    </span><br>
                    <span class="normal">
                        Realizacje
                    </span>
                </h3>
                <ul class="list">
                    {% for pro in other_projects.list %}
                        <li><a href="{{pro.link}}">{{pro.tytul}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                {% for scr in other_projects.shortcuts %}
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="{{scr.minaturka}}" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                {{scr.title}}
                                <span class="normal text-gray-800"> {{scr.scope}}</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="{{scr.link}}">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}