{% extends 'base.html' %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Terms of Use of Our Website</h3>
      <dl class="terms-list">
        <dt class="heading-6">General Information</dt>
        <dd>
            To ensure a satisfying experience for every user and to maintain security and compliance 
            with our standards, we have developed the following terms of use for our website. 
            Please familiarize yourself with them before you start browsing or using our services.
        </dd>
        <dt class="heading-6">Registration and User Account</dt>
        <dd>
            Please provide honest and accurate information during the registration process. Each user is 
            responsible for maintaining the security of their account.
        </dd>
        <dt class="heading-6">Copyright and Intellectual Property</dt>
        <dd>
            Let's respect copyright and intellectual property rights. Copying, distributing, 
            or modifying site content without our consent is prohibited.
        </dd>
        <dt class="heading-6">Privacy Policy</dt>
        <dd>
            We care about our users' privacy. Please read our privacy policy to 
            understand how we collect, use, and protect personal data.
        </dd>
        <dt class="heading-6">Conduct on the Site</dt>
        <dd>
            All users are required to respect others. We do not tolerate offensive, discriminatory, 
            or illegal content. We reserve the right to remove such content.
        </dd>
        <dt class="heading-6">External Links</dt>
        <dd>
            We are not responsible for the content on external sites that are linked from our site. 
            By clicking on a link, users accept the terms of use of that site.
        </dd>
        <dt class="heading-6">Updates and Modifications</dt>
        <dd>
            We reserve the right to make changes to the site content and terms of use. Users will be 
            informed about significant updates.
        </dd>
        <dt class="heading-6">Communication with Users</dt>
        <dd>
            We will regularly inform users about important matters via email messages 
            or announcements on the site.
        </dd>
        <dt class="heading-6">Legal Responsibility</dt>
        <dd>
            Users are obliged to comply with local and international legal regulations 
            when using our site.
        </dd>
        <dt class="heading-6">Technical Support</dt>
        <dd>
            Our technical support team is ready to help solve problems and answer 
            questions. Please contact us if you have any concerns.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}
