{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Terms of Use of Our Website {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Terms of Use of Our Website</h3>
      <dl class="terms-list">
        <dt class="heading-6">General Information</dt>
        <dd>
            To ensure a satisfying experience for every user and to maintain security and compliance 
            with our standards, we have developed the following terms of use for our website. 
            Please familiarize yourself with them before you start browsing or using our services.
        </dd>
        <dt class="heading-6">Registration and User Account</dt>
        <dd>
            Please provide honest and accurate information during the registration process. Each user is 
            responsible for maintaining the security of their account.
        </dd>
        <dt class="heading-6">Copyright and Intellectual Property</dt>
        <dd>
            Let's respect copyright and intellectual property rights. Copying, distributing, 
            or modifying site content without our consent is prohibited.
        </dd>
        <dt class="heading-6">Privacy Policy</dt>
        <dd>
            We care about our users' privacy. Please read our privacy policy to 
            understand how we collect, use, and protect personal data.
        </dd>
        <dt class="heading-6">Conduct on the Site</dt>
        <dd>
            All users are required to respect others. We do not tolerate offensive, discriminatory, 
            or illegal content. We reserve the right to remove such content.
        </dd>
        <dt class="heading-6">External Links</dt>
        <dd>
            We are not responsible for the content on external sites that are linked from our site. 
            By clicking on a link, users accept the terms of use of that site.
        </dd>
        <dt class="heading-6">Updates and Modifications</dt>
        <dd>
            We reserve the right to make changes to the site content and terms of use. Users will be 
            informed about significant updates.
        </dd>
        <dt class="heading-6">Communication with Users</dt>
        <dd>
            We will regularly inform users about important matters via email messages 
            or announcements on the site.
        </dd>
        <dt class="heading-6">Legal Responsibility</dt>
        <dd>
            Users are obliged to comply with local and international legal regulations 
            when using our site.
        </dd>
        <dt class="heading-6">Technical Support</dt>
        <dd>
            Our technical support team is ready to help solve problems and answer 
            questions. Please contact us if you have any concerns.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}
{% block footer %}            
<!--FOOTER-->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-info">
                    <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                    <p>
                        <i class="fa fa-phone"></i>
                        <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                    </p>
                    <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                    <p>
                        We work: <br />
                        <span class="footer-newsletter">Monday - Friday <br />
                        9:00 AM - 5:00 PM<br /></span>
                    </p>
                    <ul class="inline-list">
                        <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmddomy/" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmddomy/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="footer-info">
                    <h3>Blog</h3>
                    <hr />
                    <ul class="list-unstyled">
                        {% for post in blog_post_three %}
                        <li class="rd-nav-item margin-top-standard">
                            <h5 class="strong">
                                <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                            </h5>
                            <div class="font-category">{{post['category']}}</div>
                            <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-info">
                    <h3>Our Newsletter</h3>
                    <hr />
                    <p class="footer-newsletter">
                        Sign up for our newsletter to regularly receive the latest information, special offers, 
                        and exclusive invitations to events organized by DMD directly to your email inbox, 
                        allowing you to actively comment on our blog posts!
                    </p>
                    <form class="width-full" id="newsletter_form">
                        <div class="stick-all">
                            <div>
                                <input class="footer-newsletter-form" type="text" placeholder="Podaj swoje Imię" id="newsletterEmailField" name="Imie" required/>
                            </div>
                            <div>
                                <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Podaj swój E-mail" id="newsletterEmailField" name="Email" required/>
                            </div>
                        </div>
                        <div class="padding-top-standard">
                            <button type="submit" class="btn btn-primary" id="send_newsletter">
                                Sign Up
                            </button>
                        </div>
                        <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright padding-y-standard">
            DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
            <a class="link-white" href="/privacy-pl">Privacy Policy</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/rulez-pl">Terms of Use of Our Website</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/faq-pl">FAQ’s</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/help-pl">help</a>
        </div>
    </div>
</footer>
{% endblock %}