{% extends 'base.html' %}


{% block title %}DMD ELITEHOME - Zasady Korzystania z Naszej Strony Internetowej{% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="well-2">
    <div class="container">
      <h3 class="text-primary">Zasady Korzystania z Naszej Strony Internetowej</h3>
      <dl class="terms-list">
        <dt class="heading-6">Informacje Ogólne</dt>
        <dd>
            Aby zapewnić każdemu użytkownikowi satysfakcjonujące doświadczenie oraz utrzymać bezpieczeństwo i zgodność 
            z naszymi standardami, opracowaliśmy poniższe zasady korzystania z naszej strony internetowej. 
            Prosimy o dokładne zapoznanie się z nimi przed rozpoczęciem przeglądania czy korzystania z naszych usług.
        </dd>
        <dt class="heading-6">Rejestracja i Konto Użytkownika</dt>
        <dd>
            Prosimy o uczciwe i dokładne podawanie informacji podczas procesu rejestracji. Każdy użytkownik jest 
            odpowiedzialny za utrzymanie bezpieczeństwa swojego konta.
        </dd>
        <dt class="heading-6">Prawa Autorskie i Własność Intelektualna</dt>
        <dd>
            Szanujmy prawa autorskie oraz prawa własności intelektualnej. Zakazane jest kopiowanie, rozpowszechnianie 
            lub modyfikowanie zawartości strony bez naszej zgody.
        </dd>
        <dt class="heading-6">Zasady Prywatności</dt>
        <dd>
            Dbamy o prywatność naszych użytkowników. Prosimy o zapoznanie się z naszą polityką prywatności, aby 
            zrozumieć, jak gromadzimy, używamy i chronimy dane osobowe.
        </dd>
        <dt class="heading-6">Zachowanie na Stronie</dt>
        <dd>
            Wszyscy użytkownicy zobowiązani są do szanowania innych. Nie tolerujemy treści obraźliwych, dyskryminacyjnych 
            czy nielegalnych. Zastrzegamy sobie prawo do usuwania takich treści.
        </dd>
        <dt class="heading-6">Linki Zewnętrzne</dt>
        <dd>
            Nie ponosimy odpowiedzialności za treści na stronach zewnętrznych, do których prowadzą linki na naszej stronie. 
            Klikając na link, użytkownik akceptuje warunki korzystania z danej strony.
        </dd>
        <dt class="heading-6">Aktualizacje i Modyfikacje</dt>
        <dd>
            Zastrzegamy sobie prawo do wprowadzania zmian w treści strony oraz zasad korzystania. Użytkownicy zostaną 
            poinformowani o istotnych aktualizacjach.
        </dd>
        <dt class="heading-6">Komunikacja z Użytkownikami</dt>
        <dd>
            Regularnie będziemy informować użytkowników o istotnych sprawach za pośrednictwem wiadomości 
            e-mail lub ogłoszeń na stronie.
        </dd>
        <dt class="heading-6">Odpowiedzialność Prawna</dt>
        <dd>
            Użytkownicy są zobowiązani do przestrzegania lokalnych i międzynarodowych przepisów 
            prawnych podczas korzystania z naszej strony.
        </dd>
        <dt class="heading-6">Wsparcie Techniczne</dt>
        <dd>
            Nasz zespół wsparcia technicznego jest gotów pomóc w rozwiązaniu problemów i udzielić odpowiedzi 
            na pytania. Prosimy o kontakt, jeśli masz jakiekolwiek wątpliwości.
        </dd>
      </dl>
      <p><a class="underline" href="mailto:biuro@dmdelitehome.pl">biuro@dmdelitehome.pl</a></p>
    </div>
</section>
{% endblock %}