{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Serce Lasu {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/done-pl">
                                    Realizacje
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Zespół
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    O Nas
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Kontakt
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--A FEW WORDS-->
<section class="section well-2">
    <div class="container text-center text-lg-start">
        <h3 class="text-primary">Serce Lasu</h3>
        <h3 class="normal">2021 - 2023</h3>
    </div>
</section>

<!--BOOK WITH US-->
<section class="section bg-fixed bg-img-serce-1">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>Serce Lasu<br><span class="normal">Luksus w Harmonii z Naturą</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="static/images/page-2_img02-serce.jpg" alt=""/>
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
                    <div class="banner_cnt">
                        <h3>Odkryj Serce Lasu</h3>
                        <h3 class="normal">Nowoczesna Rezydencja w Naturalnym Otoczeniu</h3>
                        <p>
                            Serce Lasu to luksusowa rezydencja zrealizowana w Izabelinie, zaprojektowana przez pracownię MAG Architekci. 
                            Budynek powstał w samym sercu lasu, gdzie nowoczesna forma spotyka się z ciszą natury. 
                            Minimalistyczna bryła w kształcie litery „L”, ogromne przeszklenia i użycie naturalnych materiałów takich jak drewno i kamień 
                            sprawiają, że dom niemal stapia się z otoczeniem. To przestrzeń, która oferuje prywatność, światło i harmonię – 
                            idealna dla osób ceniących luksus, spokój i kontakt z przyrodą.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <h3 class="text-primary">Serce Lasu</h3>
        <h3 class="normal">Ciekawostki</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                <h3 class="small">Rezydencja wśród drzew</h3>
                <div>
                    Dom został zlokalizowany w samym sercu lasu, co zapewnia mieszkańcom maksymalną prywatność, naturalny mikroklimat i codzienny kontakt z przyrodą.
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                <h3 class="small">Forma litery "L"</h3>
                <div>
                    Minimalistyczna bryła domu w kształcie litery „L” umożliwia optymalne nasłonecznienie przestrzeni mieszkalnych oraz tworzy kameralny dziedziniec otoczony zielenią.
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
                <h3 class="small">Nowoczesne technologie</h3>
                <div>
                    W rezydencji zastosowano inteligentne systemy zarządzania oświetleniem, ogrzewaniem i wentylacją, zapewniając komfort, energooszczędność i wygodę codziennego życia.
                </div>
            </div>
        </div>
    </div>
</section>
<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-serce-2">
<div class="container text-xs-center">
  <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
    <div class="col-xl-5 col-lg-6 inset-4">
      <div class="banner banner__mod banner__mod-3 bg-default">
        <div class="banner_cnt">
            <h2><span class="text-primary">Serce Lasu: Luksus Zanurzony w Naturze</span><br><span class="normal">Nowoczesność pośród Drzew</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
    <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-2_img03-serce.jpg" alt=""/>
      <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
        <div class="banner_cnt">
            <h3>Serce Lasu w EliteHome</h3>
            <h3 class="normal">Luksusowa Rezydencja Pośród Natury</h3>
            <p>
                    Realizacja Serce Lasu, stworzona przez pracownię MAG Architekci, to wyjątkowy przykład nowoczesnej architektury 
                    wtopionej w naturalne otoczenie. Zlokalizowana w samym środku lasu w Izabelinie, rezydencja oferuje mieszkańcom pełną prywatność 
                    i bliskość przyrody, nie rezygnując z najwyższych standardów wykończenia i technologii. 
                    Ogromne przeszklenia, forma w kształcie litery „L” i użycie drewna oraz kamienia sprawiają, że dom 
                    staje się częścią krajobrazu. To przestrzeń zaprojektowana dla tych, którzy pragną harmonii, elegancji i ciszy.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Inne Nasze
                    </span><br>
                    <span class="normal">
                        Realizacje
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Dom Kurtyna</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <li><a href="/wind-pl">Wind House</a></li>
                    <li><a href="/floryda-pl">Willa Floryda</a></li>
                    <li><a href="/lustrzany-pl">Dom Lustrzany</a></li>
                    <li><a href="/miejska-pl">Willa Miejska</a></li>
                    <li><a href="/gonty-pl">Dom Z Gontów i Gabionów</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowolska</a></li>
                    <!-- <li><a href="/serce-pl">Forest Core</a></li> -->
                    <li><a href="/modny-pl">Dom Mod(n)y</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">

                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-lustrzany.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dom Lustrzany
                                <span class="normal text-gray-800"> 2017 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/lustrzany-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-miejska.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Willa Miejska
                                <span class="normal text-gray-800"> 2020 - 2021</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/miejska-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-gonty.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Dom Z Gontów i Gabionów
                                <span class="normal text-gray-800"> 2014 - 2017</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/gonty-pl">Sprawdź<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}