<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900%7CMontserrat:400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!--Header-->
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic header-border" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-273x37.png" alt="" width="136" height="18"/><img class="brand-logo-light" src="images/logo-inverse-271x37.png" alt="" width="135" height="18"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">News</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Events</a>
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Archive</a>
                              </li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Testimonials</a>
                              </li>
                            </ul>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">History</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="services.html">Services</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="our-coaches.html">Our Coaches</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--REASONABLE RATES-->
      <!-- <section class="section well-2 well-2--inset-1 text-xs-center">
        <div class="container">
          <div class="row row-60">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3><span class="text-primary">REASONABLE</span><br><span class="normal">RATES</span></h3><img src="images/page-3_img01.jpg" alt=""/>
              <p>
                Bus charters are an affordable and fun way to get you where you need to go. Whether you are
                planning a day trip, a longer vacation or activities for a personal or corporate event, we
                can offer you the right vehicle at the right price to fit your budget.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3><span class="text-primary">PERSONAL</span><br><span class="normal">SERVICE</span></h3><img src="images/page-3_img02.jpg" alt=""/>
              <p>
                Let our knowledgeable, professional staff help you plan, book and execute your charter bus
                rental. We treat our customers with respect and explain the pros and cons of every step of
                your bus charter experience based on your particular travel needs.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h3><span class="text-primary">EXTENSIVE</span><br><span class="normal">SELECTION</span></h3><img src="images/page-3_img03.jpg" alt=""/>
              <p>
                We get you where you want to go, when you want to go and in the type of vehicle best suited
                to your trip or event. Providing charter buses and rentals throughout the United States.
              </p>
            </div>
          </div>
        </div>
      </section> -->
      <!--HOTELS, CLUBS & COMMUNITY-->
      <section class="section bg-fixed bg-img-6">
        <div class="container">
          <div class="row g-0 justify-content-lg-between">
            <div class="col-lg-4 col-md-6 text-center text-lg-start">
              <div class="banner bg-contrast-variant-2">
                <div class="banner_cnt">
                  <h2>Hotels, Clubs & Community<br><span class="normal">Shuttle Service</span></h2>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center text-lg-start">
              <div class="banner bg-default">
                <div class="banner_cnt">
                  <h2><span class="text-primary">Bus Charters for Events,</span><br><span class="normal">Conferences & Meetings</span></h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 justify-content-lg-center offset-0">
            <div class="col-lg-4 col-md-12 text-center text-lg-start">
              <div class="banner bg-primary-variant-1">
                <div class="banner_cnt">
                  <h2>Corporate & Business<br><span class="normal">Transport</span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--TENDERED CONTRACTS ARE-->
      <section class="section bg-fixed bg-fixed__mod bg-img-2 well-3">
        <div class="container text-default">
          <h3 class="text-default">Tendered contracts are</h3>
          <h3 class="normal text-default">a core element of our transport business</h3>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
              <p>A tender process can ensure you are getting great service at a competitive price.</p>
              <p>
                Whether you require one vehicle or 100 vehicles having a contract in place with us ensures we
                understand your specific transport needs and can deliver you the best possible service.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
              <p>We work with our clients in determining their transport requirements.</p>
              <p>
                We then provide, manage and maintain the fleet, along with supplying fully trained drivers
                and the additional support required.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
              <p>There are probably lots of questions you would like answered.<br>Just call us and ask and we will give you all the information you need to plan your trip. We
                can help with booking meal stops, hotels, ferries or Eurotunnel, entrance to places of
                interest, guides, theatre tickets, etc.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--A FEW WORDS FROM-->
      <section class="section well-2">
        <div class="container">
          <h3 class="text-primary">A Few Words from</h3>
          <h3 class="normal">Our Valued Customers</h3>
          <div class="row row-40 offset-top-1">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
              <blockquote class="quote">
                <q>
                  Thank you very much. I’m impressed with your service. I’ve already told my
                  friends about your company and your
                  quick response, thanks again!
                </q>
                <cite class="heading-6">Mark Johnson, Client</cite>
              </blockquote>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
              <blockquote class="quote">
                <q>
                  Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are
                  very efficient and I will refer more people to your company!
                </q>
                <cite class="heading-6">Patrick Pool, Client</cite>
              </blockquote>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
              <blockquote class="quote">
                <q>
                  I just want to thank you for your help. I was so pleased and grateful. Keep up the
                  excellent work. Your site provides the best support I have ever encountered.
                </q>
                <cite class="heading-6">Olivia Grosh, Client</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <!--FOOTER-->
      <footer class="section footer-classic">
        <div class="container text-center text-lg-start">
          <div class="footer-info footer-info__inset-2">
            <ul class="inline-list">
              <li><a class="link-white icon fa fa-facebook" href="#"></a></li>
              <li><a class="link-white icon fa fa-twitter" href="#"></a></li>
              <li><a class="link-white icon fa fa-google-plus" href="#"></a></li>
            </ul>
            <div class="copyright">Bus and Coach Hire ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><a class="link-white" href="privacy-policy.html">Privacy Policy</a></div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>