{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Zespół {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--CONTACT INFORMATION-->
<section class="well-2 text-xs-center">
    <div class="container">
        <h3>
            <span class="text-primary">Our Team</span><br>
            <span class="normal">Find out why our crew is the foundation of our success.</span>
        </h3>
      
    </div>
</section>
<!-- team foto -->
<section class="section padding-y-standard bg-fixed bg-img-team-1">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            {% for member in team_list %}
            
            <div class="col-xl-3 col-lg-4 col-md-12 inset-4 wow fadeInLeft">
                <div class="team-box-all text-center">
                    <div>
                        <img src="{{ member['EMPLOYEE_PHOTO'] }}" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="mt-3">
                        <h6 class="mb-0 font-strong">
                            {{ member['EMPLOYEE_NAME'] }}
                        </h6>
                        <p class="text-muted team-work field-position-p">
                            {{ member['EMPLOYEE_ROLE'] }}
                        </p>
                    </div>
                    <div class="team_social field-position-p padding-y-small">
                        <ul class="list-inline mb-0 text-center">
                            {% if member['PHONE'] != '' %}
                            <li class="list-inline-item">
                                <a href="tel:{{ member['PHONE'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['EMAIL'] != '' %}
                            <li class="list-inline-item">
                                <a href="mailto:{{ member['EMAIL'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['FACEBOOK'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['FACEBOOK'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['LINKEDIN'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['LINKEDIN'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mg_projekt.png" alt=""/>
            <p>
                <a href="https://www.mgprojekt.com.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/mgprojekt" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/mgprojekt" rel="noreferrer" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/mgprojekt/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/mgprojekt/" rel="noreferrer" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
                As one of the largest architectural studios, we develop house designs for single-family construction 
                - these include both ready-made house projects available immediately and house designs on individual 
                order. A custom house design is tailored to the investor's requirements and needs - everyone can 
                create their dream home with our studio.
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mag.png" alt=""/>
            <p>
                <a href="https://magarchitekci.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/MagArchitects/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCOBslw4dtjOtZBFQ5DPraFQ" rel="noreferrer" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/mag_architekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                For us, designing is more than creating beautiful visualizations. It's about understanding the client's 
                needs, aesthetics, and the atmosphere they identify with, sharing knowledge and acquired experiences. 
                It's a true passion for creating unique and individual concepts but grounded in realistic frameworks 
                that allow for their further realization.
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_trzop.png" alt=""/>
            <p>
                <a href="https://www.trzoparchitekci.pl/pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/trzoparchitekci" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/trzoparchitekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                We assume that the design of a building or interior should not only meet the investor's expectations 
                but also improve the quality of life and health of the users through the proposed solutions and materials.
            </p>
            
        </div>
        </div>
    </div>
</section>

<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-team-2">
    <div class="container text-xs-center">
        <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
        <div class="col-xl-5 col-lg-6 inset-4">
            <div class="banner banner__mod banner__mod-3 bg-default">
            <div class="banner_cnt">
                <h2><span class="text-primary">Together</span><br><span class="normal">We Create Success</span></h2>
            </div>
            </div>
        </div>
        </div>
        <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
        <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-4_img05-partners.jpg" alt=""/>
            <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
                <div class="banner_cnt">
                    <h3>Introducing to You</h3>
                    <h3 class="normal">Indispensable Allies</h3>
                    <p>
                        We present our Wonderful Partners, thanks to whom we can celebrate 
                        unique construction successes. It is the collaboration with them that allows us 
                        to carry out ambitious projects and achieve exceptional results.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mobius.png" alt=""/>
            <p>
                <a href="https://mobius.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/mobiusarchitekci/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/mobius_architekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Our goal is to discover elements of uniqueness and originality in the field of contemporary 
                architecture. Bringing unconventional forms into existence. Transforming ideas into shapes, and
                shapes into emotions.
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_reform.png" alt=""/>
            <p>
                <a href="https://reformarchitekt.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/reformarchitekt/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/reformarchitekt.pl/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                I do not ask too much of myself and others. Only 100% perfection
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_jio.png" alt=""/>
            <p>
                <a href="https://www.jio.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/p/Jankowski-i-Opyrcha%C5%82-Pracownia-Projektowa-100063493153375/?paipv=0&amp;eav=AfYycJiKIt8AtsvQcPFVD5VBfaDa7ryPwn0zUADaJJ4VxnWT6TU0dEgRKnN3Kb789Ec&amp;_rdr" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/jio_pracownia_projektowa/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                We provide reliable knowledge and expert advisory service at every stage of the investment, as well 
                as proven support from a highly qualified group of architects and contractors.
            </p>
            
        </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}            
<!--FOOTER-->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-info">
                    <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                    <p>
                        <i class="fa fa-phone"></i>
                        <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                    </p>
                    <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                    <p>
                        We work: <br />
                        <span class="footer-newsletter">Monday - Friday <br />
                        9:00 AM - 5:00 PM<br /></span>
                    </p>
                    <ul class="inline-list">
                        <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmddomy/" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmddomy/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="footer-info">
                    <h3>Blog</h3>
                    <hr />
                    <ul class="list-unstyled">
                        {% for post in blog_post_three %}
                        <li class="rd-nav-item margin-top-standard">
                            <h5 class="strong">
                                <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                            </h5>
                            <div class="font-category">{{post['category']}}</div>
                            <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-info">
                    <h3>Our Newsletter</h3>
                    <hr />
                    <p class="footer-newsletter">
                        Sign up for our newsletter to regularly receive the latest information, special offers, 
                        and exclusive invitations to events organized by DMD directly to your email inbox, 
                        allowing you to actively comment on our blog posts!
                    </p>
                    <form class="width-full" id="newsletter_form">
                        <div class="stick-all">
                            <div>
                                <input class="footer-newsletter-form" type="text" placeholder="Enter Your Name" id="newsletterEmailField" name="Imie" required/>
                            </div>
                            <div>
                                <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Enter Your Email" id="newsletterEmailField" name="Email" required/>
                            </div>
                        </div>
                        <div class="padding-top-standard">
                            <button type="submit" class="btn btn-primary" id="send_newsletter">
                                Sign Up
                            </button>
                        </div>
                        <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright padding-y-standard">
            DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
            <a class="link-white" href="/privacy-pl">Privacy Policy</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/rulez-pl">Terms of Use of Our Website</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/faq-pl">FAQ’s</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/help-pl">help</a>
        </div>
    </div>
</footer>
{% endblock %}