{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Zespół {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--CONTACT INFORMATION-->
<section class="well-2 text-xs-center">
    <div class="container">
        <h3>
            <span class="text-primary">Nasz zespół</span><br>
            <span class="normal">Sprawdź, dlaczego nasza ekipa to fundament naszych sukcesów.</span>
        </h3>
      
    </div>
</section>
<!-- team foto -->
<section class="section padding-y-standard bg-fixed bg-img-team-1">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            {% for member in team_list %}
            
            <div class="col-xl-3 col-lg-4 col-md-12 inset-4 wow fadeInLeft">
                <div class="team-box-all text-center">
                    <div>
                        <img src="{{ member['EMPLOYEE_PHOTO'] }}" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="mt-3">
                        <h6 class="mb-0 font-strong">
                            {{ member['EMPLOYEE_NAME'] }}
                        </h6>
                        <p class="text-muted team-work field-position-p">
                            {{ member['EMPLOYEE_ROLE'] }}
                        </p>
                    </div>
                    <div class="team_social field-position-p padding-y-small">
                        <ul class="list-inline mb-0 text-center">
                            {% if member['PHONE'] != '' %}
                            <li class="list-inline-item">
                                <a href="tel:{{ member['PHONE'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['EMAIL'] != '' %}
                            <li class="list-inline-item">
                                <a href="mailto:{{ member['EMAIL'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['FACEBOOK'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['FACEBOOK'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if member['LINKEDIN'] != '' %}
                            <li class="list-inline-item">
                                <a href="{{ member['LINKEDIN'] }}" target="_blank" rel="noreferrer">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mg_projekt.png" alt=""/>
            <p>
                <a href="https://www.mgprojekt.com.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/mgprojekt" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/mgprojekt" rel="noreferrer" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/mgprojekt/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/mgprojekt/" rel="noreferrer" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
                Jako jedna z największych pracowni architektonicznych opracowujemy projekty domów dla potrzeb 
                budownictwa jednorodzinnego - są to zarówno gotowe projekty domów dostępne od ręki, jak 
                i projekty domów na indywidualne zamówienie. Indywidualny projekt domu dopasowany jest 
                do wymagań i potrzeb inwestora - każdy może z naszą pracownią stworzyć swój wymarzony dom.
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mag.png" alt=""/>
            <p>
                <a href="https://magarchitekci.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/MagArchitects/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCOBslw4dtjOtZBFQ5DPraFQ" rel="noreferrer" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/mag_architekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Dla nas, projektowanie jest czymś więcej niż tworzeniem pięknych wizualizacji. 
                To zrozumienie potrzeb klienta, estetyki i atmosfery, z którą się identyfikuje, 
                dzielenie się wiedzą i zdobytymi doświadczeniami. To prawdziwa pasja tworzenia 
                unikalnych i indywidualnych koncepcji ale osadzona w realistycznych ramach 
                umożliwiających ich dalszą realizację. 
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_trzop.png" alt=""/>
            <p>
                <a href="https://www.trzoparchitekci.pl/pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/trzoparchitekci" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/trzoparchitekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Zakładamy, że projekt budynku czy też wnętrza, ma nie tylko spełniać oczekiwania inwestora, 
                ale także wpływać na poprawę jakości życia i zdrowia użytkowników przez zaproponowane 
                rozwiązania i materiały.
            </p>
            
        </div>
        </div>
    </div>
</section>

<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-team-2">
    <div class="container text-xs-center">
        <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
        <div class="col-xl-5 col-lg-6 inset-4">
            <div class="banner banner__mod banner__mod-3 bg-default">
            <div class="banner_cnt">
                <h2><span class="text-primary">Wspólnie</span><br><span class="normal">Tworzymy Sukces</span></h2>
            </div>
            </div>
        </div>
        </div>
        <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
        <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-4_img05-partners.jpg" alt=""/>
            <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
            <div class="banner_cnt">
                <h3>Przedstawiamy Państwu</h3>
                <h3 class="normal">Niezastąpionych sojuszników</h3>
                <p>
                    Przedstawiamy naszych Wspaniałych Partnerów, dzięki którym możemy celebrować 
                    niepowtarzalne sukcesy budowlane. To właśnie współpraca z nimi pozwala nam 
                    na realizację ambitnych projektów i osiąganie wyjątkowych wyników.
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!--REASONABLE RATES-->
<section class="section well-2 well-2--inset-1 text-xs-center">
    <div class="container">
        <div class="row row-60">
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_mobius.png" alt=""/>
            <p>
                <a href="https://mobius.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/mobiusarchitekci/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/mobius_architekci/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Naszym celem jest odnajdywanie fragmentów unikalności i oryginalności w obszarze 
                architektury współczesnej. Powoływanie do istnienia niekonwencjonalnych form. 
                Przeobrażanie pomysłów w kształty, a form w emocje.
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_reform.png" alt=""/>
            <p>
                <a href="https://reformarchitekt.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/reformarchitekt/" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/reformarchitekt.pl/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Za dużo od siebie i od innych nie wymagam. Jedynie 100% perfekcji. 
            </p>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

        <img src="static/images/page-3_jio.png" alt=""/>
            <p>
                <a href="https://www.jio.pl/" rel="noreferrer" target="_blank"><i class="fa fa-home"></i></a>
                <a href="https://www.facebook.com/p/Jankowski-i-Opyrcha%C5%82-Pracownia-Projektowa-100063493153375/?paipv=0&amp;eav=AfYycJiKIt8AtsvQcPFVD5VBfaDa7ryPwn0zUADaJJ4VxnWT6TU0dEgRKnN3Kb789Ec&amp;_rdr" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/jio_pracownia_projektowa/" rel="noreferrer" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>
            <p>
                Zapewniamy rzetelną wiedzę i fachową usługę doradczą na każdym etapie inwestycji, 
                a także sprawdzoną obsługę wysoko wykwalifikowanej grupy architektów i wykonawców. 
            </p>
            
        </div>
        </div>
    </div>
</section>
{% endblock %}