{% extends 'base.html' %}

{% block title %}DMD ELITEHOME - Wind House {% endblock %}

{% block body_header %}
<header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!--RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!--RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span>
                        </button>
                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand-->
                            <a class="brand" href="index.html">
                                <img class="brand-logo-dark" src="static/images/logo-default-273x37.png" alt="" width="136" height="18"/>
                                <img class="brand-logo-light" src="static/images/logo-inverse-271x37.png" alt="" width="135" height="18"/>
                            </a>
                        </div>
                    </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/">
                                    DMD
                                </a>
                            </li>
                            <li class="rd-nav-item active">
                                <a class="rd-nav-link" href="/done-pl">
                                    Projects
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/team-pl">
                                    Team
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/about-pl">
                                    About Us
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blog-full-pl">
                                    Blog
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link " href="/contact-pl">
                                    Contact
                                </a>
                            </li>
                            <li class="rd-nav-item">
                                <a href="/en">EN</a> / <a href="/pl">PL</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<!--A FEW WORDS-->
<section class="section well-2">
    <div class="container text-center text-lg-start">
        <h3 class="text-primary">Wind House</h3>
        <h3 class="normal">2018 - 2020</h3>
    </div>
</section>

<!--BOOK WITH US-->
<section class="section bg-fixed bg-img-wind-1">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-xl-5 col-lg-6 inset-2">
                <div class="banner banner__mod bg-primary-variant-1">
                    <div class="banner_cnt">
                        <h2>Symbiosis with Nature<br><span class="normal">Architecture Among Trees</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end offset-0">
            <div class="col-xl-8 col-lg-7 inset-1 image-wrap-3"><img src="static/images/page-2_img02-wind.jpg" alt=""/>
                <div class="banner banner__mod banner__mod-2 bg-contrast-variant-2 bg-contrast-variant-2__after">
                    <div class="banner_cnt">
                        <h3>Discover Wind House</h3>
                        <h3 class="normal">Unique Architecture</h3>
                        <p>
                            Wind House, designed by Przemek Olczyk from Mobius Architects, is the epitome of the 
                            symbiosis of modern architecture with the wild nature of Izabelin, an extension 
                            of the Kampinos Forest. The house, with its unique structure, sprawls amidst 
                            a pine forest, creating a space where the boundaries between interior and exterior 
                            seem to blur. This extraordinary villa, covering an area of 450 m², is a true work 
                            of art, created with the idea of harmonious coexistence with nature.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR CUSTOMERS-->
<section class="well-2 well-2--inset-1 text-xs-center">
<div class="container">
    <h3 class="text-primary">Wind House</h3>
    <h3 class="normal">House Trivia</h3>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
          <h3 class="small">Nature-Inspired Design</h3>
          <div>
              Przemek Olczyk created a house whose form was dictated by the wooded areas of the plot, 
              resulting in a unique shape of the structure.
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
          <h3 class="small">Open Structure</h3>
          <div>
              The structure of the house intentionally remains open, integrating the interior with the 
              dense forest and allowing direct contact with nature.
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
          <h3 class="small">Material Harmony</h3>
          <div>
              Facades made of Siberian larch and elements of natural stone blend perfectly into 
              the forest environment, blurring the boundaries between the building and nature.
          </div>
      </div>
  
  </div>
</div>
</section>
<!--TRAVEL IN STYLE TO THE BEST-->
<section class="bg-fixed bg-img-wind-2">
<div class="container text-xs-center">
  <div class="row justify-content-lg-end wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
    <div class="col-xl-5 col-lg-6 inset-4">
      <div class="banner banner__mod banner__mod-3 bg-default">
        <div class="banner_cnt">
            <h2><span class="text-primary">Wind House: Architecture of the Future</span><br><span class="normal">In Harmony with Nature</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row offset-0 wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1s">
    <div class="col-xl-8 col-lg-7 inset-5 image-wrap-3-mod"><img src="static/images/page-2_img03-wind.jpg" alt=""/>
      <div class="banner banner__mod banner__mod-4 bg-contrast-variant-2 bg-contrast-variant-2__before">
        <div class="banner_cnt">
            <h3>Wind House in EliteHome</h3>
            <h3 class="normal">Icon of Modernity</h3>
            <p>
                EliteHome proudly presents Wind House, a project that perfectly combines innovative
                design with respect for the surrounding nature. Designed by Przemek Olczyk from 
                Mobius Architects, the house offers a unique experience of living among trees, 
                with a focus on continuous dialogue with nature. With its open spaces, thoughtful 
                integration with the forest, and use of natural materials, Wind House is 
                a testament to our commitment to creating architecture that harmonizes with 
                the landscape and sets new standards in design.
            </p>  
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--NASZE REALIZACJE-->
<section class="section well-sm-bottom">
    <div class="container">
        <div class="row row-60 text-center text-lg-start">
            <div class="col-xl-4 col-lg-5 col-md-12 inset-3 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                <h3>
                    <span class="text-primary">
                        Other Our
                    </span><br>
                    <span class="normal">
                        Projects
                    </span>
                </h3>
                <ul class="list">
                    <li><a href="/dune-pl">Dune House</a></li>
                    <li><a href="/kurtyna-pl">Curtain House</a></li>
                    <li><a href="/circle-pl">Circle Wood</a></li>
                    <!-- <li><a href="/wind-pl">Wind House</a></li> -->
                    <li><a href="/floryda-pl">Florida Villa</a></li>
                    <li><a href="/lustrzany-pl">Mirror House</a></li>
                    <li><a href="/miejska-pl">Urban Villa</a></li>
                    <li><a href="/gonty-pl">Thatched and Gabion House</a></li>
                    <li><a href="/lesznowolska-pl">Lesznowola</a></li>
                    <li><a href="/modny-pl">Fashion(ed) House</a></li>
                    <li><a href="/serce-pl">Forest Core</a></li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 inset-1 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-kurtyna.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Curtain House
                                <span class="normal text-gray-800"> 2015 - 2017</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/kurtyna-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-circle.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Circle Wood
                                <span class="normal text-gray-800"> 2018 - 2020</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/circle-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
                <div class="box box-sm-clear">
                    <div class="box_left">
                        <img src="static/images/page-1_img-floryda.jpg" alt=""/>
                    </div>
                    <div class="box_body box__middle">
                        <h3>
                            <span class="text-primary">
                                Florida Villa
                                <span class="normal text-gray-800"> 2021 - 2022</span>
                            </span>
                        </h3>
                        <a class="button btn-md button-primary" href="/floryda-pl">Check Out<span class="insider"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}            
<!--FOOTER-->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-info">
                    <img src="static/images/logo-inverse-271x37.png" alt="logo" />
                    <p>
                        <i class="fa fa-phone"></i>
                        <a class="link-white" href="tel:+48736545454">&nbsp;&nbsp;+48 736 54 54 54</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a class="link-white" href="mailto:biuro@dmdelitehome.pl">&nbsp;&nbsp;biuro@dmdelitehome.pl</a>
                    </p>
                    <p class="footer-newsletter">ul. Dworkowa 51 <br />05-082 Stare Babice</p>
                    <p>
                        We work: <br />
                        <span class="footer-newsletter">Monday - Friday <br />
                        9:00 AM - 5:00 PM<br /></span>
                    </p>
                    <ul class="inline-list">
                        <li><a class="link-white icon fa fa-facebook" href="https://www.facebook.com/dmddomy/" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-youtube" href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw" target="_blank"></a></li>
                        <li><a class="link-white icon fa fa-instagram" href="https://www.instagram.com/dmddomy/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="footer-info">
                    <h3>Blog</h3>
                    <hr />
                    <ul class="list-unstyled">
                        {% for post in blog_post_three %}
                        <li class="rd-nav-item margin-top-standard">
                            <h5 class="strong">
                                <a href="/blog-one-pl?post={{post['id']}}">{{post['title']}}</a>
                            </h5>
                            <div class="font-category">{{post['category']}}</div>
                            <div class="footer-desc"><i class="fa fa-user"></i> {{post['author']}} <i class="fa fa-calendar"></i> {{post['data']}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-info">
                    <h3>Our Newsletter</h3>
                    <hr />
                    <p class="footer-newsletter">
                        Sign up for our newsletter to regularly receive the latest information, special offers, 
                        and exclusive invitations to events organized by DMD directly to your email inbox, 
                        allowing you to actively comment on our blog posts!
                    </p>
                    <form class="width-full" id="newsletter_form">
                        <div class="stick-all">
                            <div>
                                <input class="footer-newsletter-form" type="text" placeholder="Enter Your Name" id="newsletterEmailField" name="Imie" required/>
                            </div>
                            <div>
                                <input class="footer-newsletter-form margin-left-small width-full" type="email" placeholder="Enter Your Email" id="newsletterEmailField" name="Email" required/>
                            </div>
                        </div>
                        <div class="padding-top-standard">
                            <button type="submit" class="btn btn-primary" id="send_newsletter">
                                Sign Up
                            </button>
                        </div>
                        <div class="margin-top-standard" id="komunikat_z_serwera_newsletter"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright padding-y-standard">
            DMD ELITEHOME ©<span>&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span>
            <a class="link-white" href="/privacy-pl">Privacy Policy</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/rulez-pl">Terms of Use of Our Website</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/faq-pl">FAQ’s</a><span>&nbsp;|&nbsp;</span>
            <a class="link-white" href="/help-pl">help</a>
        </div>
    </div>
</footer>
{% endblock %}